@model Product

@*<div class="card btn-outline-primary m-1 p-1">
    <div class="bg-faded p-1">
        <h4>
            @Model.Name
            <span class="badge badge-pill badge-primary" style="float:right">
                <small>@Model.Price.ToString("C")</small>
            </span>
        </h4>
    </div>
    <div class="card-text p-1">@Model.Description</div>
</div>*@

<div class="card my-4 w-50">
    <div class="card-header">
        @Model.Name
    </div>
    <div class="card-body">
        <h5 class="card-title">@Model.Category</h5>
        <p class="card-text">@Model.Description</p>
        <a href="#" class="btn btn-primary">@Model.Price</a>
    </div>
</div>
