@page
@model Pizza.Pages.Products.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Products</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.PriceSizeS)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.PriceSizeS)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.PriceSizeL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.PriceSizeL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.PriceSizeXL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.PriceSizeXL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.UrlImage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.UrlImage)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Products.ProductID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
